
a,a:hover {
	color: #267326;
}

.intro .page-scroll a:hover {
	color: #267326;
}

.icon:hover .fa{
	color: #267326;
}

ul.nav li a:hover {
	color: #267326;
}

.bg-skin {
	background: #267326;
}

form#contact-form input:focus,form#contact-form select:focus,form#contact-form textarea:focus {
	border-color: #267326;
}

footer {
    background-color: #004d39;
}

.btn-skin {
  color: #fff;
  background-color: #267326;
  border-color: #267326;
}
